@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(20, 20, 189);
    background-image: url(imagens/espaco.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    height: 100vh;
    position: relative;
}

#astronauta {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}